html, body {
  height: 100%;
  width: 100%;
background-color: #077adf;
    background-image: url('https://images5.alphacoders.com/777/777106.png');
}
.portfolio{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text{
    font-size: 30px;
    color:white;
    font-family: fantasy;
}
