html, body {
  height: 100%;
  width: 100%;
background-color: black;
background-image: url('https://www.wallpapertip.com/wmimgs/146-1468180_scary-dark-forest-desktop-wallpaper-red-and-black.jpg');
  background-attachment: fixed; 
  background-size: cover;

}
.portfolio{

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text{
    font-size: 25px;
    color:white;
    text-align: center;
    position:relative;  top:-390px;
  font-family: "Trirong", serif;

}
.square{
  height: 460px;
  width: 468px;
  background-color: #831100;
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top: 80px;
}

.button{
  height: 100px;
  width: 400px;
  background-color: #831100;
font-family: "Trirong", serif;
font-size:50px;
color: white;
      margin-left: auto;
  margin-right: auto;
   

}

